@-webkit-keyframes blink-caret {
    from, to {
        border-color: transparent;
    }
    50% {border-right: 0.05em solid;}
}

@keyframes blink-caret {
    from, to {
        border-color: transparent;
    }
    50% {border-right: 0.05em solid;
        margin-right: -0.05em;}
}

html {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    height: 100%;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

body {
    height: 100%;
    font-size: 8vw;
    margin: 0;
    overflow: auto;
    display: flex;
    justify-content: center;
}

a {
    color: #fcfcfc;
    font-weight: bold !important;
    text-decoration: none;
}

a:hover {
    color: #ff7b7b;
}

a > *:hover {
    cursor: pointer;
}

h1 {
    color: #fcfcfc;
    font-size: 2em;
    line-height: 0.85em;
}

h2 {
    color: #fcfcfc;
    font-size: 1em;
    line-height: 0.82em;
}

h3 {
    color: #fcfcfc;
    font-size: 0.5em;
    line-height: 0.85em;
}

h4 {
    color: #252525;
    font-size: 0.25em;
    margin: 0;
}

.flex-container {
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    justify-content: center;
    height: 100%;
}

.left-column {
    height: 100%;
    justify-content: center;
    display: flex;
    background-color: #fe5858;
    padding: 0 0.4em;
}

.left-column ul li a {
    font-size: 40px;
}

.right-column {
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 1em;
    max-width: 720px;
    width: 100%;
    margin-left: 0.5em;
}

.logo {
    position: relative;
    border: 3px solid;
    border-radius: 3px;
    margin: 0;
    letter-spacing: -0.1em;
    padding-right: 0.1em;
    background-color: #ff7b7b;
}

.logo:hover {
    cursor: default;
}

.name {
    margin: 0;
    font-size: 0.8em;
    padding-right: 0.15em;
    padding-bottom: 0.01em;
    font-family: "Arial", sans-serif;
    color: #252525;
}

.description {
    margin-top: 0.1em;
}

.description > h4 {
    margin: 0;
    font-weight: normal;
}

ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    /* flex-wrap: wrap; */
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    flex-direction: column;
}

li {
    list-style: none;
    font-size: 0.25em;
}

a > p {
    display: inline;
    margin: 0;
    margin-left: 0.5em;
    font-family: "Arial", sans-serif;
    color: #252525;
    font-weight: 100
}

.links {
    align-self: center;
    align-items: center;
    justify-content: center;
}

.links > li {
    margin-bottom: 1.5em;
}

.links > li > a:hover {
    color: #fff;
}

.typewriter {
    display: inline-block;
    vertical-align: top;
    -webkit-animation: blink-caret 1s step-end infinite;
            animation: blink-caret 1s step-end infinite;
}

.blog {
    margin-top: 0.25em;
    padding: 0.25em 0.25em 0.1em 0.25em;
    border-radius: 3px;
    background-color: rgba(17,17,17,0.7);
    overflow: auto;
    max-width: 4em;
}

.blog div h3 {
    margin: 0;
    margin-bottom: 0.25em;
    font-weight: bold;
}

.blog > div > * {
    font-weight: normal;
}

.blog > div > p {
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
    line-height: 1.5em;
}

.blog > .bio > p {
    color: #d6d6d6;
    font-size: 16px;
    font-family: Arial;
    margin-top: 0.25em;
    line-height: 1.2em;
}

.blog-link > h4 {
    text-align: center;
    font-weight: normal;
}

.leaf {
    height: 0.25em;
    width: 0.25em;
}

.copyright {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 12px;
    color: rgba(252,252,252,0.2);
    font-weight: normal;
    padding-bottom: 1em;
    padding-left: 1.5em;
    z-index: 0;
}

.fa:before {
    font-weight: normal;
}

.fa {
    color: #252525;
}

.inline-bar {
    color: #fcfcfc;
    text-decoration: none;
    display: inline;
    margin:0.25em;
}

.project > h2 > a {
    font-weight: normal !important;
}

.project {
    /* background-color: #0000004a; */
    line-height: 0.75em;
    margin: 0.5em 0;
    padding: 0.25em 0;
}

.project:nth-of-type(1) {
    margin-top: 0;
}

.project-header {
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}

.project-header > h2 {
    display: inline;
}

.project-header > h2:nth-of-type(2) {
    color: #666666;
    font-family: Arial;
    font-size: 0.5em;
    font-weight: normal;
}

.projects {
    color: #fcfcfc;
    line-height: 1.5em;
    font-size: 0.25em;
}

.projects > h1 {
    padding-bottom: 0.25em;
}

.projects > h1, h2, h3 {
    margin: 0;
    font-weight: bold;
}

.projects > div > p {
    color: #d6d6d6;
    font-size: 16px;
    font-family: Arial;
    margin-top: 0.25em;
    margin-bottom: 0;
    line-height: 1.2em;
}

.author-icon {
    height: 1em;
    width: 1em;
    border-radius: 100%;
    display: flex;
    justify-self: center;
    align-self: center;
    margin: 0 0.5em;
}

@media only screen and (max-width: 1080px) {

    body {
        font-size: 4vmax;
        overflow: hidden;
    }

    .flex-container {
        height: 100%;
        width: 100%;
        justify-content: center;
        max-width: 100% !important;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        margin: 0;
    }

    .name {
        display: none;
    }

    .description {
        display: none;
    }

    .blog {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        height: 100%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        margin-top: 0;
        max-width: unset;
        padding: 1em;
        width: auto;
    }

    .blog > .bio > p {
        font-size: 14px;
        line-height: 1.2em !important;
    }

    .blog-link > h4 {
        font-size: 1em;
    }

    .blog-link > h4 > a {
        padding: 0 0.25em;
    }

    h3 {
        font-size: 2em;
    }

    .left-column {
        margin-top: 0.5em;
        order: 2;
        margin-bottom: 0.5em;
        width: 100%;
        z-index: 1;
    }

    .right-column {
        margin-left: 0.5em;
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-right: 0.5em;
    }

    .logo {
        display: none;
    }

    /* .mobile-logo {
        display: inline-block;
        position: relative;
        border: 3px solid;
        border-radius: 3px;
        letter-spacing: -0.1em;
        padding-right: 0.1em;
        font-size: 3em;
        margin: 0.25em 0.25em 0 0.25em;
        background-color: #ff7b7b;
    } */

    .links {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -ms-flex-item-align: start;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        overflow: hidden;
        margin: 0 0.5em;
    }

    .links > li {
        overflow: hidden;
        background-color: #ff7b7b;
        padding: 0.25em 0.5em;
        border: 2px solid #fcfcfc;
        margin-bottom: 0.3em;
        margin-top: 0;
        font-size: 0.75em;
        text-align: center;
    }

    .links li:last-child {
        margin-bottom: 0;
    }

    .links li > a {
        width: 100%;
    }

    a:hover {
        color: rgba(17,17,17,0.7);
    }

    .printer {
        display: none !important;
    }

    .project:nth-of-type(1) {
        padding-top: 0;
    }

    .projects {
        overflow: auto;
        font-size: inherit;
    }

    .projects > h1 {
        display: none;
    }

    .inline-bar {
        display: none !important;
    }

}
