<link rel="stylesheet" type="text/css" href="/font-awesome-4.7.0/css/font-awesome.min.css">
<div class="navbar">
    <ul>
        <!-- <li><a href="/" class="fa fa-home" aria-hidden="true" title="home"></a></li> -->
        <li><a href="/blog" class="fa fa-pencil-square" aria-hidden="true" title="blog"></a></li>
        <li><a href="/feed.xml" class="fa fa-rss" aria-hidden="true" title="rss"></a></li>
        <li><a href="mailto:tmanbrock@gmail.com" class="fa fa-envelope-o" aria-hidden="true" title="email"></a>
        <li><a href="https://www.linkedin.com/in/theodore-brockman-1a276b116/" class="fa fa-linkedin-square" aria-hidden="true" title="linkedin"></a></li>
        <li><a href="https://github.com/tbrockman/" class="fa fa-github" aria-hidden="true" title="github"></a></li>
        <li><a href="https://soundcloud.com/nat-port/" class="fa fa-soundcloud" aria-hidden="true" title="soundcloud"></a></li>
    </ul>
</div>