$color-primary: #fe5858;
$color-hover: #cc4949;
$color-secondary: #252525;
$hover-background-color: #383838;
$hover-box-shadow: -1rem 1rem #171717;
$hover-box-border: 4px solid #0a0a0a;

$breakpoint-navbar: 1400px;
$breakpoint-padding: 1200px;
$breakpoint-mobile: 768px;

@media(max-width: $breakpoint-mobile) {
    div.blog-list-container {
        margin-top: 114px !important;
        padding: 0 !important;
    }
}

/* tablet breakpoint */
@media (max-width: $breakpoint-mobile) {
    .blog-list-container {
        div.blog-list {
            columns: 1;
            padding: 2rem;
        }
    }
}

@media(max-width: $breakpoint-navbar) {
    .blog-list-container {
        margin-top: 146px !important;

        .blog-list {
            padding-top: 2rem;
        }
    }

    .blog-post-preview {
        .blog-post-title {
            font-size: 2rem;
        }
    }


    .blog-post-excerpt {
        font-size: 18px;
    }

    .blog-post-thumbnail {
        align-self: center;
    }
}

@media(max-width: $breakpoint-padding) {
    .page-container {
        padding: 0 6em !important;
    }
}

body {
    margin: 0;
}

.blog-list-container {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.blog-list {
    columns: 2;
    column-gap: 2rem;
}

.blog-list>a {
    display: inline-block;
    box-shadow: 0 0 12px 0px #25252530;
    border-radius: 3px;
    margin-bottom: 2rem;
    transition: all 0.2s ease-in-out;
}

.blog-list>a:hover {
    box-shadow: 0px 3px 20px 11px #00000026, 0 0 12px 0px #00000030;
    transform: translate3d(0px, -3px, 0px);
    background-color: #2f2f2f;
}

.blog-post-title {
    font-size: 2em;
    font-family: Arial;
    overflow-y: hidden;
    overflow: hidden;
    word-break: break-word;
    color: $color-primary;
}

.blog-post-preview {
    padding: 2em;
    background-color: $hover-background-color;
    box-shadow: $hover-box-shadow;
    border: $hover-box-border;
}

.blog-post-thumbnail {
    border-bottom: 1px solid #eee;
    max-width: 100%;
}

.blog-post-excerpt {
    padding-top: 1em;
    color: #fff;
}

.blog-list li h2 {
    margin-top: 0;
}

.blog-list li h2 a {
    font-weight: normal;
    text-decoration: none;
    font-size: 1.5em;
}

.blog-list li h2 a:hover {
    color: $color-hover;
}

.blog-list li div p {
    font-size: 24px;
}

code {
    border-radius: 0 !important;
    background-color: #0000004d;
    color: #ffffff;
    padding: 0px 5px;
    display: inline-block;
}