$color-primary: #fe5858;
$color-hover: #cc4949;
$color-secondary: #252525;

$breakpoint-navbar: 1400px;
$breakpoint-padding: 1200px;
$breakpoint-mobile: 800px;

@media(max-width: $breakpoint-mobile) {
    div.blog-list-container {
        margin-top: 114px !important;
    }
}

@media(max-width: $breakpoint-navbar) {
    .blog-list-container {
        margin-top: 146px !important;

        div.blog-list {

            padding-top: 2rem;

            a {
                margin: 0 2rem;
                height: fit-content;
                width: fit-content;
                
                div {
                    display: flex;
                    flex-direction: column;
                }
            }
        }
    }

    .blog-post-preview {
        .blog-post-title {
            font-size: 3rem;
        }
    }

    
    .blog-post-excerpt {
        font-size: 18px;
    }

    .blog-post-thumbnail {
        align-self: center;
    }
}

@media(max-width: $breakpoint-padding) {
    .page-container {
        padding: 0 6em !important;
    }
}

body {
    margin: 0;
}

.blog-list-container {
    padding: 0 !important;
}

.blog-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 12vh;
}

.blog-list >  a {
    box-shadow: 0 0 12px 0px #25252530;
    border-radius: 3px;
    height: 480px;
    margin-right: 2em;
    margin-bottom: 2em;
    width: 480px;
    transition: all 0.2s ease-in-out;
}

.blog-list > a:hover {
    box-shadow: 0px 3px 20px 11px #25252526, 0 0 12px 0px #25252530;
    transform: translate3d(0px, -3px, 0px);
}

.blog-post-title {
    font-size: 2em;
    overflow-y: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.blog-post-preview {
    padding: 2em;
}

.blog-post-thumbnail {
    border-bottom: 1px solid #eee;
    max-width: 100%;
}

.blog-post-excerpt {
    padding-top: 1em;
    overflow-y: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: #252525;
}

.blog-list li h2 {
    margin-top: 0;
}

.blog-list li h2 a {
    font-weight: normal;
    text-decoration: none;
    font-size: 1.5em;
}

.blog-list li h2 a:hover {
    color: $color-hover;
}

.blog-list li div p {
    font-size: 24px;
}
