$color-primary: #fe5858;
$color-hover: #d14b4b;
$color-secondary: #252525;

body {
    margin: 0;
}

.blog-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.blog-list li h2 {
    margin-top: 0;
}

.blog-list li h2 a {
    font-weight: normal;
    text-decoration: none;
    font-size: 1.5em;
}

.blog-list li h2 a:hover {
    color: $color-hover;
}

.blog-list li div p {
    font-size: 24px;
}

h1 {
    color: $color-primary;
    font-size: 4em;
    margin: 1em 0;
}
