@font-face {
    font-family: "RobotoMono";
    src: url("../fonts/RobotoMono/RobotoMono-VariableFont_wght.ttf")
}

$breakpoint-mobile: 800px;

@media(max-width: $breakpoint-mobile) {
    #photo-container {
        height: unset !important;
    }

    .container {
        max-width: 100% !important;
    }
}

body {
    font-family: RobotoMono;
    background-color: #252525;
    color: #eee;
    margin: 0;
    display: flex;
    align-items: center;
}

.container {
    margin-top: 2rem;
    max-width: 40vw;
}

#photo-container {
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.christmas-image {
    height: 40vh;
    opacity: 1;
    transition: opacity 1s ease-in;
}

.christmas-image.faded-out {
    opacity: 0;
}

.christmas-card-text {
    display: flex;
    justify-content: center;
    padding: 1rem;
    text-align: center;
    flex-direction: column;
}