$color-primary: #fe5858;
$color-hover: #d14b4b;
$breakpoint-navbar: 1400px;

@keyframes nav-slide-in-from-right {
    0% { left: 100vw; }
    100% { left: 30vw; }
}

@keyframes nav-slide-out-from-left {
    0% { left: 30vw; }
    100% { left: 100vw; }
}

@keyframes slide-left-make-way-for-nav {
    0% { left: 0; }
    100% { left: -70vw; }
}

@keyframes slide-right-close-nav {
    0% { left: -70vw; position:absolute; }
    100% { left: 0}
}

@media(max-width: $breakpoint-navbar) {

    // div.page-container {
    //     animation: slide-right-close-nav 0.2s ease-in-out;
    // }

    div.page-container.navbar-open {
        position: absolute;
        animation: slide-left-make-way-for-nav 0.2s ease-in-out;
        left: -70vw;
    }
}

@font-face {
    font-family: "Roboto";
    src: url("../assets/fonts/font/Roboto-Regular.tff");
}

html {
    height: 100%;
}

li {
    line-height: 2rem;
    font-size: 18px;
    padding-left: 0.5em;
}

body {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    color: #252525;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.page-container {
    box-sizing: border-box;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0em 12em 8em;
    z-index: 1;
    flex: 1;
    background-color: #fff;
}

a {
    color: $color-primary;
    text-decoration: none;
}

a.fa {
    font-size: 3em !important;
    padding: 0.25em;
    color: #252525;
}

.subtext {
    font-weight: normal;
    color: #cccccc;
}

h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: normal;
    color: #fe5858;
    font-size: 6em;
}