@-webkit-keyframes blink-caret {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-right: 0.05em solid;
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-right: 0.05em solid;
        margin-right: -0.05em;
    }
}

@font-face {
    font-family: "Roboto";
    src: url("assets/fonts/Roboto/Roboto-Medium.ttf");
}

@font-face {
    font-family: "RobotoMono";
    src: url("assets/fonts/RobotoMono/RobotoMono-pwl.ttf")
}

.page-container {
    background-color: #252525 !important;
    display: flex;
    overflow: hidden;
    max-height: calc(100% - var(--navbar-height, 0)) // max-height: calc(100% - 157.5px);
}

#jsnix {
    width: 100%;
    text-transform: initial;
    font-size: 15px;
    flex: 1;
    padding-left: 2rem;

    >.jsnix-container {
        display: flex;
        justify-content: flex-start;

        >.jsnix-window {
            max-width: min(80ch, 50%);
        }
    }
}

#terminal>.input-row {
    display: flex;
}