$font-family-primary: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;

@-webkit-keyframes blink-caret {
    from, to {
        border-color: transparent;
    }
    50% {border-right: 0.05em solid;}
}

@keyframes blink-caret {
    from, to {
        border-color: transparent;
    }
    50% {border-right: 0.05em solid;
        margin-right: -0.05em;}
}

@font-face {
    font-family: "Roboto";
    src: url("assets/fonts/Roboto/Roboto-Medium.ttf");
}

@font-face {
    font-family: "RobotoMono";
    src: url("assets/fonts/RobotoMono/RobotoMono-pwl.ttf")
}

.page-container {
    background-color:#252525 !important;
    max-width: initial !important;
    padding: initial !important;
    display: flex;
    justify-content: center;
}

.terminal-input {
    display: flex;
    flex-direction: column;
    border: none;
    background: #252525;
    color: #fff;
    outline: none;
    caret-color: transparent;
    flex-grow: 1;
    padding: 2rem 2rem;
    font-weight: normal;
    font-family: $font-family-primary;
    white-space: pre-wrap;
    overflow-y: auto;
    overflow-x: hidden;
    max-width: 80ch;
    font-size: 1rem;
}

#terminal > .input-row {
    display: flex;
}
