$font-family-primary: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;

@-webkit-keyframes blink-caret {
    from, to {
        border-color: transparent;
    }
    50% {border-right: 0.05em solid;}
}

@keyframes blink-caret {
    from, to {
        border-color: transparent;
    }
    50% {border-right: 0.05em solid;
        margin-right: -0.05em;}
}

.page-container {
    background-color:#252525 !important;
    max-width: initial !important;
    padding: initial !important;
    display: flex;
    justify-content: center;
    overflow: hidden;
    max-height: calc(100% - 157.5px);
}

#jsnix {
    width: 100%;
    text-transform: initial;
    font-size: 15px;

    > .jsnix-container {
        display: flex;
        justify-content: center;
    }
}

body {
    height: 100vh;
}

:root {
    line-height: 1.5;
    font-weight: 400;
    font-size: 15px;
  
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}