$color-primary: #fe5858;
$color-secondary: #252525;
$color-mouseover: #fff;
$breakpoint-main: 1400px;
$breakpoint-mobile: 800px;

@media(max-width: $breakpoint-mobile) {
    .navbar {

        .navbar-drawer.open {
            padding: 1rem 0 !important;
        }

        #navbar-header.container {
            padding: 1rem 0 !important;
        }
    }
}

@media(max-width: $breakpoint-main) {
    .navbar {
        position: fixed;
        z-index: 10;
        flex-direction: column;
        transition: all 0.2s ease-in;
        // animation: slide-right-close-nav 0.2s ease-in-out;

        .container {
            padding: 2rem 0 !important;
            max-width: 100%;
            justify-content: flex-end !important;

            div:not(.hamburger) {
                display: none !important;
            }

            .hamburger {
                display: block !important;
                padding-right: 2em;
            }
        }

        #navbar-header.opened {}

        .navbar-drawer {
            flex-direction: column;
            width: 100%;
            // animation: nav-slide-out-from-left 0.2s ease-in-out;
        
            div {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-end;
                padding: 1rem;
                font-size: 1.75rem;
                font-weight: 450;
                color: #fff !important;
            }

            * > .fa {
                padding-right: 1rem;
                font-size: 3rem;
                font-weight: 450;
            }
        }

        .navbar-drawer.open {
            position: fixed;
            display: flex;
            flex-direction: column;
            background-color: #fe5858;
            width: 70vw;
            top: 0vw;
            padding: 2rem 0;
            height: 100vh;
            animation: nav-slide-in-from-right 0.2s ease-in-out;
            left: 30vw;
        }
    }

    .navbar.open {
        animation: slide-left-make-way-for-nav 0.2s ease-in-out;
        transform: none;
        left: -70vw;
    }

    .navbar.hide {
        transform: translateY(-100%);
        transition: all 0.2s ease-in;
    }

    a.fa {
        font-size: 3rem !important;
        color: #fff !important;
        margin-top: 10px !important;
    }
}

.navbar {
    display: flex;
    width: 100%;
    background-color: $color-primary;
    align-items: center;
    justify-content: center;

    .container {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        padding: 3rem 0;
        max-width: 1600px;

        div a:hover {
            cursor: pointer;
            color: $color-mouseover;
        }

        .hamburger {
            display: none;
        }
    }
    
    .navbar-drawer {
        display: none;
    }
}