$color-primary: #fe5858;
$color-secondary: #252525;
$color-mouseover: #fff;
$breakpoint-main: 1400px;

@media(max-width: $breakpoint-main) {
    .navbar {
        position: fixed;
        z-index: 10;
        flex-direction: column;

        .container {
            max-width: 100%;
            justify-content: flex-end !important;

            div:not(.hamburger) {
                display: none !important;
            }

            .hamburger {
                display: block !important;
                padding-right: 2em;
            }
        }

        #navbar-header.opened {
            box-shadow: inset 0px -9px 20px 0px #00252525;
        }

        .navbar-drawer {
            flex-direction: column;
            width: 100%;
        
            div {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-end;
                padding: 1.75rem;
                padding-right: 2rem;
                font-size: 3rem;
                font-weight: 450;
                color: #fff !important;
            }

            * > .fa {
                padding-right: 1rem;
                font-size: 3rem;
                font-weight: 450;
                margin-top: 10px;
            }
        }

        .navbar-drawer.open {
            display: flex !important;
            box-shadow: 0px 9px 9px 0px #00252525;
            overflow-y: scroll;
            max-height: 62vh;
        }
    }

    a.fa {
        font-size: 3rem !important;
        color: #fff !important;
        margin-top: 10px !important;
    }
}

.navbar {
    display: flex;
    width: 100%;
    background-color: $color-primary;
    align-items: center;
    justify-content: center;

    .container {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        padding: 3em 0;
        max-width: 1600px;

        div a:hover {
            cursor: pointer;
            color: $color-mouseover;
        }

        .hamburger {
            display: none;
        }
    }
    
    .navbar-drawer {
        display: none;
    }
}