$color-primary: #fe5858;
$color-secondary: #252525;
$color-mouseover: #fff;
$breakpoint-main: 1400px;

@media(max-width: $breakpoint-main) {
    .navbar {
        position: fixed;
        z-index: 10;

        .container {
            max-width: 100%;
            justify-content: flex-end !important;
        
            div:not(.hamburger) {
                display: none !important;
            }

            .hamburger {
                display: block !important;
                padding-right: 2em;
            }
        }
    }
}

.navbar {
    display: flex;
    width: 100%;
    background-color: $color-primary;
    align-items: center;
    justify-content: center;

    .container {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        padding: 3em 0;
        max-width: 1600px;

        div a:hover {
            cursor: pointer;
            color: $color-mouseover;
        }

        .hamburger {
            display: none;
        }
    }
}