$color-primary: #fe5858;
$color-hover: #fb6e6e;
$hover-background-color: #2f2f2f;
$hover-box-shadow: -1rem 1rem #171717;
$hover-box-border: 4px solid #0a0a0a;
$breakpoint-navbar: 1400px;
$breakpoint-padding: 1200px;
$breakpoint-mobile: 800px;

@media (max-width: $breakpoint-mobile) {
	div.page-container {
		.post-container {
			padding: 2rem;
			margin: 0;
			border: none;
			max-width: 100%;
		}
	}

	blockquote {
		padding: 1em 3em !important;
	}

	h1 {
		font-size: 3em !important;
	}

	h2 {
		font-size: 2em !important;
	}

	p:has(> img) {
		overflow: auto;
	}

	p:has(> img)>img {
		overflow: auto;
		object-fit: none;
		max-width: unset;
	}
}

@media (max-width: $breakpoint-navbar) {
	.post-container {

		a {
			line-break: auto;
		}

		p {
			line-height: 2rem !important;
		}

		.highlight {
			font-size: 1rem;
		}

		blockquote {
			p {
				overflow-wrap: break-word;
			}

			li {
				padding-top: 1em;
			}
		}
	}
}

@media (max-width: $breakpoint-padding) {}

a:hover {
	color: $color-hover;
}

h1 {
	color: $color-primary;
	font-size: 4rem;
}

h2 {
	color: $color-primary;
	margin-top: 1em;
	font-size: 3em;
	word-break: break-word;
}

h3 {
	color: $color-primary;
	margin-top: 1em;
	font-size: 2rem;
	word-break: break-word;
}

img {
	margin: 0 auto 2em;
	display: flex;
	max-width: -webkit-fill-available;
	max-width: -moz-available;
	max-width: fill-available;
	box-shadow: $hover-box-shadow;
	border: $hover-box-border;
	max-height: 65vh;
}

blockquote {
	margin: 2em 0 3em;
	padding: 0 4em;
	color: #fff;
	background: $hover-background-color;
	box-shadow: $hover-box-shadow;
	border: $hover-box-border;
	overflow-x: auto;
}

li>code,
p>code,
a>code {
	padding: 5px !important;
	border-radius: 0 !important;
	color: #fff !important;
	display: inline;
	/* Changed from inline-block */
	white-space: nowrap;
	/* Prevent breaking inside code */
}

a:not(pre) {

	&>code.highlighter-rouge {
		background-color: $color-primary;

	}

	&>code.highlighter-rouge:not(.filename) {
		box-shadow: var(--hover-box-shadow);
		border: var(--hover-box-border);
		margin: 4px 0;
		position: relative;
		border-radius: 4px;
		z-index: -1;
		transition: transform 0.2s ease, box-shadow 0.2s ease, background-color 0.2s ease;
		will-change: transform, box-shadow, background-color;
	}

	&:hover>code.highlighter-rouge,
	&:focus>code.highlighter-rouge {
		background-color: $color-hover;

		&:not(.filename) {
			// transform: translateY(-3px);
			// box-shadow: calc(-1rem) calc(1rem + 3px) 3px 1px #1717179e;
			// box-shadow: 0px 3px 20px 11px #00000026, 0 0 12px 0px #00000030;
			box-shadow: var(--hover-box-shadow-hover);
			transform: translate3d(0px, -3px, 0px);
		}
	}
}

p>strong>code {
	background-color: #eee;
	padding: 3px;
	margin: 2px;
}

.post-container {
	// background-color: var(--hover-background-color);
	box-sizing: border-box;
	padding: 0 2rem;
	display: flex;
	flex-direction: column;
	flex: 1;
	max-width: 80ch;
	margin: 4rem 0rem 2rem 0rem;
	// border: var(--hover-box-border);
	// box-shadow: -1rem 1rem var(--color-background-dark);
}

.post-container {

	& a {
		position: relative;
	}

	& h1,
	& h2,
	& h3,
	& h4,
	& h5,
	& h6 {
		isolation: isolate;
	}

	& p,
	& li {
		isolation: isolate;
	}

	& p {
		font-size: 18px;
		line-height: 2rem;
		margin: 2rem 0;
		isolation: isolate;
	}

	ul {
		padding-left: 1.5rem;
	}

	ol {
		padding-left: 2rem;
	}
}

.post-header {
	display: flex;
	justify-content: center;
	flex-direction: column;
	position: relative;
}

.post-header h1 {
	margin: 0;
	margin-bottom: 0.25em;
	overflow-wrap: normal;
	word-break: break-word;
	hyphens: none;
	white-space: pre-wrap;
	isolation: isolate;
	text-wrap: pretty; /* Helps avoid orphan punctuation in modern browsers */

	/* Attach punctuation to preceding code elements by adding an invisible word joiner */
	code::after {
		content: "\2060"; /* Word joiner character - prevents line break after code */
	}
}

.post-header h4 {
	margin: 0;
	color: #252525;
	font-size: 1.25em;
	font-family: Arial;
}

.post-header .divider {
	width: 25%;
	border-top: 1px solid #252525;
	margin-top: 3em;
}

.post-header .author-image {
	border-radius: 12px;
	width: 8em;
	height: 8em;
	align-self: center;
	margin-top: 4em;
	margin-bottom: 2em;
	box-shadow: 1px 1px 8px 4px #eee;
}

.utterances {
	margin: 0;
	margin-top: 4em;
	max-width: initial;
}

.highlight pre {
	padding: 1em;
	margin: 0;
	background: var(--hover-box-shadow-hover) !important;
	box-shadow: var(--hover-box-shadow);
	border: $hover-box-border;
	font-family: var(--font-family-primary) !important;
}

a:has(img)+em,
img+em {
	text-align: center;
	font-size: 1rem;
	display: block;
}

h1>code[class*=language-plaintext].highlighter-rouge,
h1>a>code[class*=language-plaintext].highlighter-rouge {
	// border-width: 8px;
	margin: 0.5rem 0;
}

:not(pre)>code[class*=language-plaintext] {
	display: inline;
	/* Changed from inline-block */
	line-height: normal;
	color: inherit;
	border-radius: 0 !important;
	background-color: var(--inline-code-mask);
	color: #ffffff;
	// white-space: nowrap;
}

code[class*='language-'],
pre[class*='language-'] {
	font-family: var(--font-family-primary);
	font-size: 0.95em;
}

pre[class*='language-'] {
	margin-bottom: 4rem;
}