$color-primary: #fe5858;
$color-hover: #cc4949;

a:hover {
    color: $color-hover;
}

h1 {
    color: $color-primary;
    font-size: 6em;
}

h2 {
    color: #fe5858;
    margin-top: 1em;
    font-size: 3em;
    font-family: "Montserrat", sans-serif;
}

img {
    margin: 2em auto;
    display: flex;
    max-width: -webkit-fill-available;
}

blockquote {
    margin: 4em 0;
    padding: 2em 4em;
    background-color: #f6f8fa;
    color: #101010;
}

p > code {
    padding: 5px !important;
    margin: 4px;
    border-radius: 0 !important;
    color: #fff !important;
}

p > strong > code {
    background-color: #eee;
    padding: 3px;
    margin: 2px;
}

.post-container {
    margin-bottom: 4em;
}

.post-container p {
    font-size: 18px;
    line-height: 2rem;
}

.post-container p a .highlighter-rouge {
    font-family: monospace;
    display: block;
    margin-top: 2em;
    margin-bottom: 0;
    border-radius: 0 !important;
    width: fit-content;
    padding: 0.25em 0.5em;
    background-color: #fe5858;
    color: #ffffff;
}

.post-header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 4em 0 0;
}

.highlighter-rouge {
    margin-bottom: 2em;
}

.post-header h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: normal;
    margin: 0;
    margin-bottom: 0.25em;
}

.post-header h4 {
    font-weight: normal;
    margin: 0;
    color: #252525;
    font-size: 1.25em;
    font-family: Arial;
}

.post-header .divider {
    width: 25%;
    border-top: 1px solid #252525;
    margin-top: 3em;
}

.post-header .author-image {
    border-radius: 12px;
    width: 8em;
    height: 8em;
    align-self: center;
    margin-top: 4em;
    margin-bottom: 2em;
    box-shadow: 1px 1px 8px 4px #eee;
}

.utterances {
    margin: 0;
    margin-top: 4em;
    max-width: initial;
}

.highlight pre {
    padding: 2em 1em;
    margin: 0;
    background: #252525 !important;
}