$color-primary: #fe5858;
$color-hover: #fb6e6e;
$hover-background-color: #383838;
$hover-box-shadow: -1rem 1rem #171717;
$hover-box-border: 4px solid #0a0a0a;
$breakpoint-navbar: 1400px;
$breakpoint-padding: 1200px;
$breakpoint-mobile: 800px;

@media (max-width: $breakpoint-mobile) {
	div.post-container {
		margin-top: 114px !important;
	}

	div.page-container {
		padding: 0 2rem !important;
	}

	blockquote {
		padding: 1em 3em !important;
	}

	h1 {
		font-size: 4em !important;
	}

	h2 {
		font-size: 2em !important;
	}

	p:has(> img) {
		overflow: auto;
	}

	p:has(> img)>img {
		overflow: auto;
		object-fit: none;
		max-width: unset;
	}
}

@media (max-width: $breakpoint-navbar) {
	.post-container {
		margin-top: 146px !important;

		a {
			line-break: auto;
		}

		// div {
		// 	h1 {
		// 		font-size: 3rem;
		// 	}
		// }

		p {
			line-height: 2rem !important;
		}

		.highlight {
			font-size: 1rem;
		}

		blockquote {
			p {
				overflow-wrap: break-word;
			}

			li {
				padding-top: 1em;
			}
		}
	}
}

@media (max-width: $breakpoint-padding) {
	div.page-container {
		padding: 0 4rem;
	}
}

a:hover {
	color: $color-hover;
}

h1 {
	color: $color-primary;
	font-size: 4rem;
}

h2 {
	color: $color-primary;
	margin-top: 1em;
	font-size: 3em;
	word-break: break-word;
}

h3 {
	color: $color-primary;
	margin-top: 1em;
	font-size: 2rem;
	word-break: break-word;
}

img {
	margin: 0 auto 2em;
	display: flex;
	max-width: -webkit-fill-available;
	max-width: -moz-available;
	max-width: fill-available;
	box-shadow: $hover-box-shadow;
	border: $hover-box-border;
	max-height: 65vh;
}

blockquote {
	margin: 2em 0 3em;
	padding: 0 4em;
	color: #fff;
	background: $hover-background-color;
	box-shadow: $hover-box-shadow;
	border: $hover-box-border;
	overflow-x: auto;
}

li>code,
p>code,
a>code {
	padding: 5px !important;
	border-radius: 0 !important;
	color: #fff !important;
	display: inline-block;
}

a:not(pre) {

	& > code.highlighter-rouge {
		background-color: $color-primary;
		box-shadow: -1rem 1rem #1717179e;
		margin: 4px 0;
		position: relative;
		z-index: -1;
		transition: all 0.2s ease-in-out;
	}
	
	& > code.highlighter-rouge {
		background-color: $color-primary;
		box-shadow: -1rem 1rem #1717179e;
		margin: 4px 0;
		position: relative;
		border-radius: 4px;
		z-index: -1;
		transition: transform 0.2s ease, box-shadow 0.2s ease, background-color 0.2s ease;
		will-change: transform, box-shadow, background-color;
	}

	&:hover> code.highlighter-rouge, &:focus> code.highlighter-rouge {
		background-color: #fb6e6e;
		transform: translateY(-3px);
		box-shadow: calc(-1rem) calc(1rem + 3px) 3px 1px #1717179e;
	}
}

p>strong>code {
	background-color: #eee;
	padding: 3px;
	margin: 2px;
}

.post-container {
	margin-bottom: 4em;
}

.post-container {

	& a {
		position: relative;
	}

	& h1, & h2, & h3, & h4, & h5, & h6 {
		isolation: isolate;
	}

	& p, & li {
		isolation: isolate;
	}

	& p {
		font-size: 18px;
		line-height: 2rem;
		margin: 2rem 0;
		isolation: isolate;
	}
}

.post-header {
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin: 4em 0 0;
}

.post-header h1 {
	margin: 0;
	margin-bottom: 0.25em;
	word-break: break-word;
	overflow-wrap: break-word;
	hyphens: auto;
	isolation: isolate;
}

.post-header h4 {
	margin: 0;
	color: #252525;
	font-size: 1.25em;
	font-family: Arial;
}

.post-header .divider {
	width: 25%;
	border-top: 1px solid #252525;
	margin-top: 3em;
}

.post-header .author-image {
	border-radius: 12px;
	width: 8em;
	height: 8em;
	align-self: center;
	margin-top: 4em;
	margin-bottom: 2em;
	box-shadow: 1px 1px 8px 4px #eee;
}

.utterances {
	margin: 0;
	margin-top: 4em;
	max-width: initial;
}

.highlight pre {
	padding: 1em;
	margin: 0;
	background: $hover-background-color !important;
	box-shadow: $hover-box-shadow;
	border: $hover-box-border;
	font-family: var(--font-family-primary) !important;
}

a:has(img)+em,
img+em {
	text-align: center;
	font-size: 1rem;
	display: block;
}

h1>code[class*=language-plaintext].highlighter-rouge,
h1>a>code[class*=language-plaintext].highlighter-rouge {
	// border-width: 8px;
	margin: 0.5rem 0;
}

:not(pre)>code[class*=language-plaintext] {
	display: inline-block;
	line-height: normal;
	color: inherit;
	border-radius: 0 !important;
	// padding: 0.25em 0.5em;
	// background-color: #fe5858;
	background-color: $hover-background-color;
	color: #ffffff;
}

code[class*='language-'],
pre[class*='language-'] {
	font-family: var(--font-family-primary);
	font-size: 0.95em;
}

pre[class*='language-'] {
	margin-bottom: 4rem;
}