$breakpoint-mobile: 74ch;
$breakpoint-combine-header: 640px;

@media (max-width: $breakpoint-combine-header) {
	div.hide-header-not-combined {
		display: flex;
		justify-content: space-between;
	}

	div.first-name {
		display: none;
	}

	.hide-header-not-combined {
		div {
			font-size: 13vw;
			text-transform: uppercase;
			font-weight: bold;
		}
	}
}

@media (max-width: $breakpoint-mobile) {
	.column {
		flex-basis: 100%;
		margin-top: 2rem;
	}

	.column:first-child {
		margin-top: 0rem;
	}

	.column-container {
		grid-template-columns: 1fr !important;
	}

	.column-container > .column:first-child {
		margin-right: 0 !important;
	}

	.column-container > .column:last-child {
		margin-left: 0 !important;
	}

	.resume-header-body {
		flex-wrap: wrap;
	}

	.description {
		margin: 0 !important;
	}

	.banner-image {
		align-self: flex-start !important;
	}

	div.education-section > .floating-block {
		div {
			display: flex;
			flex-wrap: wrap;

			div {
				margin-right: 1em;
			}
		}
	}
}

html {
	-webkit-print-color-adjust: exact;
	print-color-adjust: exact;
}

a {
	text-decoration: none;
	word-break: break-word;
}

a.gold:hover {
	color: #ae8631;
}

body {
	padding: 2em !important;
	text-transform: lowercase;
}

pre {
	font-family: inherit;
	margin: 0;
}

.column {
	flex-basis: 50%;
}

.first-name,
.last-name {
	font-family: 'Roboto';
	text-transform: uppercase;
}

.first-name {
	font-weight: bold;
	font-size: 3rem;
}

.last-name {
	display: flex;
	justify-content: space-between;
}

.contact-section {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	font-size: 2rem;
	flex-grow: 1;
}

.hide-header-not-combined {
	display: none;
}

.resume-container {
	max-width: 100%;
	width: 74ch;
	display: block;
}

.section {
	display: flex;
}

.gold {
	color: #e0ab3b;
}

.white {
	color: #eee;
}

.green {
	color: #8bc34a;
}

.blue {
	color: #25bbff;
}

.metric {
	color: #f9d890;
}

.comment-grey {
	color: #6f6f6f;
}

.pink {
	color: #ff8cb0;
}

div {
	line-break: auto;
}

body {
	font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono,
		DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace,
		serif;
	line-height: 24px;
	background-color: #252525;
	color: #eee;
	margin: 0;
	padding: 2em 0;
	display: flex;
	justify-content: center;
	font-size: 16px;
}

p {
	margin-top: 1em;
	margin-bottom: 0;

	&.comment-grey {
		margin-top: 0;
	}
}

.resume-header {
	display: flex;
	flex-direction: column;
}

div.section {
	display: flex;
	flex-direction: column;
	margin-top: 1rem;
}

.section-separator {
	display: flex;

	.section-separator-lines {
		overflow: hidden;
		white-space: nowrap;
	}
}

.section-icon-container {
	margin-bottom: 1.5rem;
	align-items: center;
	flex-direction: row;
	justify-content: flex-start;
	font-size: 1rem;
	min-width: unset;
	min-height: 100%;
	display: flex;
	flex-wrap: wrap;

	div {
		margin-top: 0;
	}

	.fas,
	.fab {
		margin-left: 0.5rem;
	}
}

.skills-section {
	display: flex;
	flex-direction: row;
}

.skills {
	display: flex;
	flex-direction: column;
}

.about-body {
	padding-top: 0.75rem;
	display: flex;
	flex-direction: column;
}

.links {
	display: flex;
	flex-wrap: wrap;

	& > a {
		padding-right: 0.5rem;
	}

	& > a:last-child {
		padding-right: 0;
	}
}

.work-experience-section {
	display: flex;
}

.work-experience-header {
	font-size: 0;
}

.work-experience-header > span {
	font-size: 1rem;
}

.work-experience-entry.floating-block {
	margin-bottom: 0;
}

.work-experience-entry:last-child.floating-block {
	margin-bottom: 2rem;
}

.inner-section-separator {
	padding: 1em 0;
}

.projects-section {
	display: flex;
}

.column-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-bottom: 2rem;
}

.column-container > .column:first-child {
	margin-right: 1rem;
}

.column-container > .column:last-child {
	margin-left: 1rem;
}

.column > .floating-block:first-child {
	margin-top: 0;
}

.column > .floating-block {
	margin-top: 2rem;
	margin-bottom: 0;
}

.projects-header {
	font-size: 0;
}

.projects-header > span {
	font-size: 1rem;
}

.open-source-section {
	display: flex;
}

.open-source-section-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.open-source-header {
	display: flex;
}

.education-section {
	display: flex;
	justify-content: flex-start;
}

.floating-block {
	border: 4px solid #0a0a0a;
	box-shadow: -1rem 1rem #171717;
	background-color: #383838;
	padding: 1em;
	margin-bottom: 2rem;
	height: fit-content;
}

.resume-header > .floating-block {
	width: fit-content;
}

.main-banner {
	display: flex;
	flex-direction: column;
	width: fit-content;
}

.main-banner > img {
	width: 200px;
	height: 200px;
	border: 4px solid black;
	border-radius: 1rem;
	margin-bottom: 0.5rem;
	align-self: center;
}

.resume-header-body {
	display: flex;
}

.description {
	margin-left: 2rem;
	display: flex;
	flex-direction: column;
}

.description > div {
	flex-grow: 1;
}

.description > .floating-block > p:first-child {
	margin-top: 0;
}

.contact-link-section {
	display: flex;
	flex-direction: column;
}
