<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="view-transition" content="same-origin">
    <link rel="stylesheet" type="text/css" href="/assets/css/blog.css">
    <link rel="stylesheet" type="text/css" href="/font-awesome-4.7.0/css/font-awesome.min.css">
    <title>theodore brockman - blog</title>
    {% seo %}
    <!-- Load early to catch pagereveal event for backward navigation -->
    <script src="/assets/js/blog-transitions.js"></script>
</head>

<body>
    {% include navbar.html %}
    {{content}}
</body>

</html>