<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="view-transition" content="same-origin">
  <link rel="stylesheet" type="text/css" href="/font-awesome-4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/post.css">
  <title>
    theodore brockman - {{ page.title }}
  </title>
  {% seo %}
  <!-- Load early to catch pagereveal event for forward navigation -->
  <script src="/assets/js/post-transitions.js"></script>
</head>

<body>
  {% include navbar.html %}
  <div class="page-container">
    <div class="post-container">
      <div class="post-header">
        <h1>{{page.title | markdownify | remove: '<p>' | remove: '</p>'}}</h1>
      </div>
      {{ content }}
      <script src="/client.js" repo="tbrockman/tbrockman.github.io" issue-term="{{page.title}}"
        theme="github-dark" crossorigin="anonymous" async>
        </script>
    </div>
  </div>
  <script src="/assets/js/post.js"></script>
  <script src="/assets/js/prism.js"></script>
  <script defer src='https://static.cloudflareinsights.com/beacon.min.js'
    data-cf-beacon='{"token": "5be6f51b79624ee984b67f5bd09f6f30"}'></script>
</body>

</html>