<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Redirecting to https://theo.lol/resume.pdf</title>
        <link rel="canonical" href="/resume.pdf">
    </head>
    <body>
        <!-- Cloudflare Web Analytics -->
        <script defer src='https://static.cloudflareinsights.com/beacon.min.js'
        data-cf-beacon='{"token": "5be6f51b79624ee984b67f5bd09f6f30"}'></script>
        <!-- End Cloudflare Web Analytics -->
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                window.location.href = "/resume.pdf";
            });
        </script>
    </body>
</html>
