<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu&amp;display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/assets/css/thanks-for-tipping.css">
        <title>thanks for tipping!</title>
        {% seo %}
    </head>
    <body>
        {{content}}
        <script src='/assets/js/thanks-for-tipping.js'></script>
    </body>
</html>