<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
        <link rel="stylesheet" type="text/css" href="/assets/css/christmas_card.css">
        <title>theodore brockman - merry christmas winne</title>
    </head>
    <body>
        <div class="container">
            <div class="christmas-card-text">
                merry christmas, winne <3
            </div>
            <div id="photo-container"></div>
            <div class="christmas-card-text">
                2020 was one of the worst years for the world in quite some time,
                yet being able to spend it with you it still managed to feel like a pretty magical year.
                <br>
                <br>
                we listened to music, we sang, we danced.
                <br>
                <br>
                we cooked, we ate, we got fat.
                <br>
                <br>
                we traveled, we adventured, we stayed inside
                <br>
                <br>
                no matter how much things fell apart around us we always still manage to have fun together,
                and somehow <i>everything always works out for us.</i>
                <br>
                <br>
                you are my favorite little beautiful goof and i can't wait to see what adventures await us when the world is no longer on fire!
                <br>
                <br>
                <br>
                love,
                <br>
                <br>
                -theo 
            </div>
        </div>
        <script src="/assets/js/christmas_card.js"></script>
    </body>
</html>